# Terraform
*.tfstate                 # Local Terraform state
*.tfstate.backup          # Backup state files
*.tfvars                  # Terraform variable files
*.tfplan                  # Terraform plan files

# Ansible
group_vars/*.yml          # Group variables
host_vars/*.yml           # Host variables
vault.yml                 # Vault files (if not encrypted)
inventory                 # Static inventory file
*.log                     # Log files

# VSCode
.vscode/                  # Workspace settings

# Python
__pycache__/              # Byte-compiled files
.env                      # Virtual environment files
*.venv/                   # Virtual environments
*/venv/                   # Virtual environments
.DS_Store                 # macOS files
.idea/                    # PyCharm settings

# All keys
*/*.key                     # Key files
*/*.pem                     # Private keys
